<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>
    <tx:annotation-driven/>
    <context:component-scan base-package="db"/>
    <context:component-scan base-package="service"/>
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:mem:test;DB_CLOSE_DELAY=-1"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <bean id="roleDaoTest" name="roleDaoTest" class="DBRoleDaoTest">
        <property name="roleDao" ref="DBRoleDao"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="userDaoTest" name="userDaoTest" class="DBUserDaoTest">
        <property name="userDao" ref="DBUserDao"/>
        <property name="roleDao" ref="DBRoleDao"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="connectionTest" name="connectionTest" class="DBConnectionTest">
        <property name="roleDao" ref="DBRoleDao"/>
        <property name="userDao" ref="DBUserDao"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean name="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
          id="sessionFactory">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="db"/>
        <property name="configLocation">
            <value>classpath:hibernate.cfg.xml</value>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>db.Role</value>
                <value>db.User</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="dialect">org.hibernate.dialect.H2Dialect</prop>
                <prop key="hbm2ddl.auto">create-drop</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>