.hellomessage {
    width: 500px;
    padding: 10px;
    margin: auto;
}

.hello {
    font-size: 38px;
    font-style: oblique;
}

.loginform {
    width: 200px;
    padding: 10px;
    margin: auto;
}

.loginpageTitle {
    font-weight: bold;
    text-decoration: underline;
}

.error {
    color: #FF0000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}

.errorIn {
    color: #FF0000;
}

.adminContainer {
    width: 100%;
    padding: 10px;
    margin: auto;
}

.myTable {
    width: 95%;
    margin: 2px;
}

.loginTable {
    border: solid 1px black;
}

*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*




















































































































































  body {
    font: 10pt Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}

fieldset {
    border: dotted 1px silver;
}

table {
    border-collapse: collapse;
    font: 10pt Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-size: 11pt;
    text-align: center;
}

td, th {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border: dotted 1px silver;
    width: auto;
}

thead {
    font-weight: normal;
    background: #666666;
    color: #FFFFFF;
    font: 10pt Arial, Helvetica, sans-serif;
}

.pay_button {
    margin: 0px;
    top-padding: 0px;
}

#header:hover {
    opacity: 1;
}

#title {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font: 12pt Arial, Helvetica, sans-serif;
    wight: 100%;
    height: 40px;
    background: rgb(69, 73, 39);
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

#footer {
    bottom: 0;
    left: 0;
    rigth: 0;
    font: 12pt Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    background: rgb(69, 73, 39);
    color: #FFFFFF;
    width: 100%;
    position: fixed;
}

#header {
    z-index: 9999;
    opacity: 0.7;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
    font-size: 1em;
    color: black;
    margin: 0 auto;
    background: rgba(230, 230, 230, 1);
    width: 100%;
}

#leftHeader {
    text-align: center;
    vertical-align: middle;
    height: 100%;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    padding: 2px;
    top: 10px;
    padding: 2px;
}

#rightHeader {
    text-align: center;
    vertical-align: middle;
    height: 100%;
    float: right;
    margin-right: 10px;
    padding: 2px;
    margin-top: 5px;
}

#container {
    margin-bottom: 50px;
    margin-top: 80px;
}

#rr {
    height: 500px;
}

#login_form {
    width: 25%;
    height: 100%;
    top: 20%;
    bottom: 50%;
}

.label {
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.content {
    margin-left: 40px;
    margin-top: 100px;
}

#transp_table {
    border: none;
    text-align: left;
    font: 10pt Arial, Helvetica, sans-serif;
}

*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*














































































































































































*









